body{
    color: white;
    background: #111111;
}
i{
    color:white;
}
table{
    border: none;
}

#nav li span{
    margin-left: 5px;
}


#login button{
    width: 100%;
}



#login a{
    margin-top: 5px;
    width: 100%;
}

#register h1, #login h1,#deleteForm{
    margin-top: 20%;
    margin-bottom: 50px;
}

#profile h1,#history h1, #content h1 {
    margin-top: 5%;
    margin-bottom: 5%;
}
#profile-info, #history, #content{
    font-size: 24px;
}

#profile ul,#history ul{
    list-style: none;
}

#profile .modal-content, #content .modal-content{
    position: relative;
    background: #111111;
}
#profile .modal-content h4{
    margin-top: 5%;
}
#editForm{
    margin: 0, 2% 2% 2%;
}
.close{
    color:white;
    font-size: 150%;
    margin-right: 1%;
}
.close:hover{
   color:white; 
}
#editForm input{
    position: initial;
}
#editForm button{
    margin-top: 1%;
}

/*404 Page*/
#notFound h1 {
    margin-top:25%;
}

